* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 
   html,
   body {
     height: 100%;
     width: 100%;
     position: relative;
     @include font;
     font-size: 14px;

   }
 
